PORT=3000
SQL_HOST=localhost
SQL_PORT=3306
SQL_USERNAME=root
SQL_PASSWORD=your_mysql_password
SQL_DATABASE=homework28
# Development only: automatically create/update the tables.
SQL_SYNC=true

AWS_ACCESS_KEY=your_iam_access_key_id
AWS_SECRET_ACCESS_KEY=your_iam_secret_access_key
AWS_REGION=eu-central-1
AWS_BUCKET_NAME=gita-backend-homework-30
AWS_CLOUDFRONT_URL=https://d1yhpsg8tsfmvb.cloudfront.net
AWS_CLOUDFRONT_DISTRIBUTION_ID=E3RWSOCT0YBDO2
